/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background-color: #ffffff;
    color: #000;
}

/* MAIN DASHBOARD */
.dashboard {
    display: flex;
    min-height: 100vh;
}

/* LEFT SIDEBAR */
.dashboard-left {
    width: 220px;
    background-color: #2c3e50;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.dashboard-left h2 {
    color: #fff;
    margin-bottom: 20px;
}

.dashboard-left a {
    color: #e4e4e4;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.dashboard-left a:hover {
    background-color: #3f5f7f;
}

/* SUB MENU */
.submenu {
    display: none;
    padding-left: 15px;
}

.submenu-inner a {
    font-size: 14px;
}

/* LOGOUT */
.logout {
    margin-top: auto;
}

.logout-btn {
    background-color: #d40202;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    text-align: center;
}

/* RIGHT SIDE */
.dashboard-right {
    flex: 1;
    padding: 50px;
}

.admin-stat-card {
    margin-top: 30px;
    background: #1e1e1e !important;
    padding: 25px !important;
    width: 260px;
    border-radius: 14px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.admin-stat-card h4 {
    color: #aaa;
    font-size: 14px;
}

.admin-stat-card h2 {
    font-size: 34px;
    color: #ff4d00;
    margin-top: 10px;
}
