/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* LAYOUT */
.dashboard {
    display: flex;
    min-height: 100vh;
}

/* SIDEBAR */
.dashboard-left {
    width: 230px;
    background: #2c3e50;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.dashboard-left h2 {
    color: #fff;
    margin-bottom: 20px;
}

.dashboard-left a {
    color: #e4e4e4;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 6px;
    display: block;   /* 🔑 IMPORTANT for rows */
    border-radius: 4px;
}

.dashboard-left a:hover {
    background-color: #3f5f7f;
}

/* SUB MENUS */
.submenu {
    display: none;
    padding-left: 10px;
}

.submenu-inner {
    display: none;
    padding-left: 20px;
}

/* GRID ITEMS */
.submenu-inner a {
    font-size: 14px;
    color: #cfd8dc;
    margin-bottom: 5px;
}

/* LOGOUT */
.logout {
    margin-top: auto;
}

.logout-btn {
    background: #d40202;
    color: #fff;
    padding: 8px;
    text-align: center;
    border-radius: 4px;
}

/* RIGHT CONTENT */
.dashboard-right {
    flex: 1;
    padding: 50px;
}

.admin-stat-card {
    background: #1e1e1e;
    padding: 25px;
    width: 260px;
    border-radius: 14px;
    margin-top: 30px;
}

.admin-stat-card h4 {
    color: #aaa;
}

.admin-stat-card h2 {
    color: #ff4d00;
    font-size: 34px;
}
